.rate-field-container .thumbs {
  display: inline-block;
  background: url('../images/thumbs.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.rate-field-container .thumbs {
  display: inline-block;
  float: left;
}

.rate-field-container .votes {
  display: inline-block;
  float: left;
  margin: 10px;
}

.rate-field-container .info-data {
  text-align: center;
}

.rate-field-container .tdnv {
  background-position: -0px -0px;
  width: 50px;
  height: 52px;
}

.rate-field-container .tdv {
  background-position: -0px -52px;
  width: 50px;
  height: 52px;
}

.rate-field-container .tunv {
  background-position: -50px -52px;
  width: 50px;
  height: 52px;
}

.rate-field-container .tuv {
  background-position: -50px -104px;
  width: 50px;
  height: 52px;
}

.rate-field-container .tunv:hover {
  background-position: -0px -104px;
  width: 50px;
  height: 52px;
}

.rate-field-container .tdnv:hover {
  background-position: -50px -0px;
  width: 50px;
  height: 52px;
}

.rate-field-container .visual-bar {
  width: 150px;
  background: gray;
  height: 8px;
  border-radius: 25px;
}

.rate-field-container .visual-bar .green {
  display: inline-block;
  background: green;
  height: 100%;
  float: left;
  border-radius: 25px 0px 0px 25px;

}

.rate-field-container .visual-bar .red {
  display: inline;
  background: red;
  height: 100%;
  float: left;
  border-radius: 0px 25px 25px 0px;
}