<div class="rate-field-container" onload="renderLocalVotes()" entity_type="{{ entity_type }}" entity_id="{{ entity_id }}" up_votes="{{ up_votes }}" down_votes="{{ down_votes }}" field_name="{{ field_name }}">
    <div class="thumbs up {{ voted_up }}"></div>
    <div class="votes">
        <div class="info-data">{{ percentage }} &nbsp;({{ total_up }}/{{ total_down }}) </div>
        <div class="visual-bar"><div class="green" style="width: {{ psg }}"></div><div class="red" style="width: {{ psr }}"></div></div>
    </div>
    <div class="thumbs down {{ voted_down }}"></div>
</div>